.App{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}.list{
  padding: 15px;
  width: 95%;
  box-shadow: 0 0 2px #fff;
}
.header-list{
  display: flex;
  align-items: center;
  
}.header-list > h3{
  flex-grow: 1;
  margin: 9px 0;
} svg{
  opacity: 0.5;
  scale: 0.8;
} svg:hover{
  opacity: 1;
  scale: 1;
}.container-card{
  padding: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 9px;
}.card{
 display: flex; 
 width: 90%;
 align-items: center;
}
.card >span{
  flex-grow: 1;
}