body {
  background-color: #222;
  color: #ddd;
}

.list {
  background-color: #333;
  border-radius: 3px;
  width: 300px;
  margin-right: 10px;
  padding: 8px;
  box-sizing: border-box;
}

.header-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8px;
}

.container-card {
  min-height: 20px;
}

.card {
  background-color: #444;
  border-radius: 3px;
  padding: 8px;
  margin-bottom: 8px;
  cursor: pointer;
  position: relative;
}

.delete-icon {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
  color: #ddd;
}

input[type="text"] {
  padding: 8px;
  margin-bottom: 8px;
  border: none;
  border-radius: 3px;
  box-sizing: border-box;
  background-color: #555;
  color: #ddd;
}

input[type="text"]:focus {
  outline: none;
  box-shadow: 0 0 0 2px #0079bf;
}
